<ul class="nav">
  <li class="nav-item">
    <%= link_to "Compare markets", '#', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "US", '#', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Europe", '#', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Asia", '#', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Currencies", '#', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Crypto", '#', class: 'nav-link' %>
  </li>
</ul>