<ul class="nav">
  <li class="compare">
    <div><%= link_to "Compare markets", '#', class: 'nav-link' %></div>
  </li>
  <li class="nav-item">
    <div><%= link_to "US", '#', class: 'nav-link' %></div>
  </li>
  <li class="nav-item">
    <div><%= link_to "Europe", '#', class: 'nav-link' %></div>
  </li>
  <li class="nav-item">
    <div><%= link_to "Asia", '#', class: 'nav-link' %></div>
  </li>
  <li class="nav-item">
    <div><%= link_to "Currencies", '#', class: 'nav-link' %></div>
  </li>
  <li class="nav-item">
    <div><%= link_to "Crypto", '#', class: 'nav-link' %></div>
  </li>
</ul>